.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.canvas {
  border: 1px solid black;
  height: 100%;
  aspect-ratio: 1 / 1;
}
